body {
  background-color: white;
  margin: 0;
  color: #000000;
  font-family: "Cairo", sans-serif;

  header {
    p {
      font-size: 25px;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;

    text-decoration: none;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em;
    margin-top: 2em;
    .hero-container {
      display: flex;
      width: 100%;
      display: flex;
      flex-direction: column;

      h4 {
        font-weight: 400;
      }

      .hero-text {
        display: flex;
        justify-content: space-between;
        align-items: end;

        .big-text {
          font-size: 25px;
          width: 40%;
          text-transform: uppercase;
        }

        .small-text {
          display: flex;
          justify-content: flex-end;
          width: 25%;
          font-size: 15px;
          color: gray;
        }
      }

      .image-container {
        width: 100%;
        margin-top: 2em;

        img {
          width: 100%;
        }
      }
    }
  }

  .about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em;

    &:first-child {
      align-items: flex-start;
    }

    .profile-text {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading-text {
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .profile-img-container {
      width: 40%;

      img {
        width: 100%;
      }
    }
  }
}
